/* ============================================= */
/*              Variables Imports                */
/* ============================================= */

// Breakpoints
$break-s: 320px;
$break-m: 768px;
$break-l: 1024px;

// Colors
$light-primary: #7476bf;
$dark-primary: #4d4c72;
$light-secondary: #fbfbfb;
$dark-secondary: #dbdbdb;
$splash: #81c98f;
$warning: #b91400;
