/* ============================================= */
/*              Dashboard Imports                */
/* ============================================= */

.dashboard {
  padding-left: 20px;
  @include mq($break-m) {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: auto;
    margin-left: 0 !important;
  }
}

.dashboard--search-row {
  @include flexy($dir: row, $just: space-between);
  background-color: #fbfbfb;
}

.dashboard--title-container {
  height: 100%;
  background: white;
}

.dashboard--title {
  font-weight: normal;
  margin-right: 20px;
  border-right: 1px solid #f7f7f7;

}

// Dashboard grid components
@include mq($break-m) {
  .dashboard--search-row,
  .traffic,
  .social-stats {
    grid-column: 1 / span 2;
  }
  .daily-traffic,
  .members,
  .message {
    grid-column: 1 / span 1;
  }
  .mobile-users,
  .recent-activity,
  .settings {
    grid-column: 2 / span 1;
  }
}
