/* ============================================= */
/*              Dashboard Imports                */
/* ============================================= */

.dashboard {
  @include mq($break-m) {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: auto;
    margin-left: 0 !important;
  }
}

.dashboard--search-row {
  @include flexy($dir: row);
}

// Dashboard grid components
@include mq($break-m) {
  .dashboard--search-row,
  .traffic,
  .social-stats {
    grid-column: 1 / span 2;
  }
  .daily-traffic,
  .members,
  .message {
    grid-column: 1 / span 1;
  }
  .mobile-users,
  .recent-activity,
  .settings {
    grid-column: 2 / span 1;
  }
}
