/* ============================================= */
/*              Dashboard Imports                */
/* ============================================= */

.dashboard {
  @include mq($break-m) {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: auto;
    margin-left: 0 !important;
  }
}

.dashboard > :nth-child(1n+3) {
  border-bottom: 1px solid #dbdbdb;
}

.dashboard--title-searchbar-container {
  @include flexy($dir: row, $just: space-between);
  background-color: #fbfbfb;
  padding-left: 10px;
}

.dashboard--title-container {
  height: 100%;
  background: white;
  padding-right: 10px;
  @include mq($break-m) {
    padding: 0 20px 0 10px;
  }
}

.dashboard--title {
  font-weight: normal;
}



// Dashboard grid widgets
@include mq($break-m) {
  .dashboard--title-searchbar-container,
  .alerts,
  .traffic,
  .social {
    grid-column: 1 / span 2;
  }
  .daily-traffic,
  .members,
  .message {
    grid-column: 1 / span 1;
  }
  .mobile-users,
  .activity,
  .settings {
    grid-column: 2 / span 1;
  }
}

// Widget styles

.widget {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  @include mq($break-m) {
    padding: 0 20px 20px 20px;
  }
}

.widget--title {
  font-weight: 400;
  text-transform: uppercase;
  margin: 20px 0;
}

.daily-traffic,
.members,
.message {
  @include mq($break-m) {
  border-right: 1px solid #dbdbdb;
  }
}

.widget--container-full {
  position: relative;
  @include mq(break-m) {
    width: 90vw;
  }
}

.widget--container-half {
  position: relative;
  @include mq(break-m) {
    width: 90vw;
  }
}
