/* ============================================= */
/*              Members Imports                  */
/* ============================================= */

.widget--container-members {
  @include flexy($dir: column);
}

.member--card {
  @include flexy($dir: row);
  align-items: center;
  font-size: .9em;
}

.member--card:nth-child(1n+2) {
  border-top: 1px solid #dbdbdb;
}

.member--card-img {
  width: 51px;
  height: 51px;
  border-radius: 50%;
  margin: 10px 10px 10px 0;
}

.member--card-text {
  flex-grow: 1;
}

.member--card-text-name {
  margin: 0;
}

.member--card-text-email {
  font-weight: lighter;
  font-size: .7em;
}

.member--card-date {
  font-weight: lighter;
  text-align: right;
}
