/* ============================================= */
/*              Message Imports             */
/* ============================================= */

.widget--container-message {
  @include flexy($dir: column);
  position: relative;
}

.message--alert {
  position: absolute;
  top: -41px;
  left: 125px;
  height: 24px;
  width: 0px;
  opacity: 1;
  background: #80C98F;
  border-radius: 5px;
  color: #fbfbfb;
  transition: width 0.3s ease;
}

.message--alert-text {
  text-align: center;
  font-weight: normal;
  white-space: nowrap;
  margin: 5px 0;
}

.message--input {
  padding: .8em;
  background-color: #fbfbfb;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}

.message--textarea {
  padding: .8em;
  background-color: #fbfbfb;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  resize: none;
}

.message--input::placeholder {
  color: #dbdbdb;
  font-weight: lighter;
}

.message--textarea::placeholder {
  color: #dbdbdb;
  font-weight: lighter;
}

.message--btn {
  font-weight: 600;
  text-transform: uppercase;
  padding: .8em 0;
  background-color: #7476bf;
  border-radius: 5px;
  border: 1px solid #7476bf;
  color: white;
  outline: 0;
  transition: all 0.3s ease-in-out;
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  &:active {
    background-color: lighten(#7476bf, 10%);
    border-color: lighten(#7476bf, 10%);
  }
}

.widget--container-message > :nth-child(1n+3) {
  margin-top: 20px;
}
