/* ============================================= */
/*              Recent Activity Imports          */
/* ============================================= */

.widget--container-activity {
  @include flexy($dir: column);
}

.activity--card {
  @include flexy($dir: row);
  align-items: center;
}
.activity--card:nth-child(1n+2) {
  border-top: 1px solid $dark-secondary;
}

.activity--card-img {
  width: 51px;
  height: 51px;
  border-radius: 50%;
  margin: 10px 10px 10px 0;
}

.activity--card-text {
  flex-grow: 1;
}

.activity--card-text-desc {
  margin: 0;
}

.activity--card-text-et {
  margin: 0;
}

.activity--card-link {
  margin-left: 10px;
  cursor: pointer;
}
