/* ============================================= */
/*              Searchbar Imports                */
/* ============================================= */

.searchbar {
  @include flexy($dir: row, $just: flex-end);
  flex-basis: 100%;
  min-width: 0;
  border-left: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

.searchbar--container {
 position: relative;
  @include flexy($dir: row);
  flex-basis: 80%;
  min-width: 0;
  max-width: 300px;
  margin: 10px 10px 10px;
  @include mq($break-m) {
    margin-right: 20px;
  }
}

.searchbar--container-input {
  flex-basis: 100%;
  min-width: 0; // Allows text field to shrink down
  padding: 5px 25px 5px 10px;
  border-radius: 5px;
  border: solid 1px #dbdbdb;
}

.searchbar--container-input::placeholder {
  color: #dbdbdb;
}

.searchbar--container-icon {
  position: absolute;
  color: #dbdbdb;
  top: 10px;
  right: 10px;
}
