/* ============================================= */
/*              Settings Imports                 */
/* ============================================= */

.widget--settings-container {
  @include flexy($dir: column);
  position: relative;
}

.settings--alert {
  position: absolute;
  top: -41px;
  left: 80px;
  height: 24px;
  width: 0px;
  opacity: 1;
  background: #80C98F;
  border-radius: 5px;
  color: #fbfbfb;
  transition: width 0.3s ease;
}

.settings--alert-text {
  text-align: center;
  font-weight: normal;
  white-space: nowrap;
  margin: 5px 0;
}

.settings--switch-container {
  @include mq($break-m) {
    margin-bottom: 21px;
  }
}

.switch-light {
  @include flexy($dir: row);
  align-items: center;
}

.switch-material.switch-light input:checked ~ span {
  background-color: lighten(#7476bf, 30%);
}

.switch-material.switch-light input:checked ~ span a {
  background: #7476bf;
}

.settings--switch-container-title {
  margin: 0;
  flex-basis: 70%;
}

.settings--dropdown {
  padding: 1em;
  background-color: #fbfbfb;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  font-weight: lighter;
}

.widget--settings-container > :nth-child(1n+3) {
  margin-top: 21.5px;
}

.settings--btn-container {
  @include flexy($dir: row, $just: space-between);
}

.settings--btn-container-btns {
  font-weight: 600;
  text-transform: uppercase;
  padding: .8em 0;
  background-color: #7476bf;
  border-radius: 5px;
  border: 1px solid #7476bf;
  color: white;
  flex-basis: 45%;
  transition: all 0.3s ease-in-out;
  outline: 0;
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  &:active {
    background-color: lighten(#7476bf, 10%);
    border-color: lighten(#7476bf, 10%);
  }
}
