/* ============================================= */
/*              Social Stats Imports             */
/* ============================================= */

.widget--container-social {
  @include mq($break-m) {
    @include flexy($dir: row, $just: space-between);
  }
}

.social--cards{
  @include flexy($dir: row, $just: flex-start);
  align-items: center;
  background-color: #fbfbfb;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  margin-bottom: 10px;
  @include mq($break-m) {
    width: 33.3%;
    max-width: 280px;
    margin-right: 10px;
    margin-bottom: 0;
  }
}

.social--svg-container {
  background-color: #7476bf;
  padding: 15px;
  border-radius: 50%;
  margin: 15px;
}

.social--svg-icon {
  width: 36px;
  height: 36px;
}

.social--svg-icon-path {
  fill: white;
}

.social--card-text-title {
  color: #7476bf;
  font-weight: bold;
  margin: 0;
}

.social--card-text-number {
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
  padding-right: 15px;
}
