/* ============================================= */
/*              Chart Imports                    */
/* ============================================= */

// Traffic
.traffic {
  grid-column: 1 / -1;
}

// Daily Traffic
.daily-traffic {
  grid-column: 1 / -1;
}

// Mobile Users
.mobile-users {
  grid-column: 1 / -1;
}
