/* ============================================= */
/*              Container Imports                */
/* ============================================= */

// Base Styles
* {
//  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {

}

// Containers

.body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  @include mq($break-m) {
    grid-template-columns: 62px 1fr;
    grid-template-areas:
    "header header"
    "nav main"
    "nav footer";
  }
}

.header {
  // Grid position
  grid-area: header;
  // Flex styling
  @include flexy($dir: row, $just: space-between);
  align-items: center;
  // Other
  position: sticky;
  top: 0;
}

.main {
  // Grid position
  grid-area: main;
}

.dashboard {
  transition: .5s;
}

.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  overflow-x: hidden;
  @include mq($break-m) {
    overflow-x: visible;
    grid-area: nav;
    width: 62px;
  }
}

.footer {
  // Grid position
  grid-area: footer;
  border: solid 2px blue;
  @include mq($break-m) {
    margin-left: 0 !important;
  }
}

// Header Styles

.header {
  z-index: 100;
  background: #7476bf;
  color: white;
}

.header--menu-btn {
  margin-left: 10px;
  cursor: default;
  @include mq($break-m) {
    visibility: hidden;
  }
}

.header--menu-btn:hover {
  cursor: pointer;
}

.header--title {
  @include flexy($dir: row, $just: center);
    flex-grow: 1;
  @include mq($break-m) {
    @include flexy($just: flex-start);
    order: -1;
    margin-left: 20px;
  }
}

.header--title-two {
  font-weight: lighter;
}

.header--title-superscript {
  font-weight: lighter;
}

.header--notification {
  position: relative;
}

.header--notification-btn {
  width: 18px;
  height: 18px;
  margin-top: 5px;
  margin-right: 10px;
}

.header--notification-btn:hover {
  cursor: pointer;
}

.header--notification-btn-path {
  fill: white;
  stroke: white;
  stroke-width: .5;
}

.header--notification-badge {
  position: absolute;
  top: 2px;
  right: 10px;
  width: 5px;
  height: 5px;
  background-color: #81c98f;
  border-radius: 50%;
}

.header--notification-dropdown {
  position: absolute;
  top: 40px;
  right: 5px;
  width: 200px;
  color: black;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 101;
  display: none;
  transition: max-height 0.3s ease-out;
}

.header--notification-dropdown:after {
  content: ' ';
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  border-left: 8px solid transparent;
  position: absolute;
  top: -16px;
  right: 7px;
  z-index: 100;
}

.header--notification-dropdown-card {
  @include flexy($dir: row, $just: space-between);
  align-items: center;
  cursor: pointer;
}

.header--notification-dropdown-card:hover {
  background-color: #dbdbdb;
}

.header--notification-dropdown-card:nth-child(1n+2) {
  border-top: 1px solid #dbdbdb;
}

.header--notification-dropdown-card:first-child {
  border-radius: 5px 5px 0 0;
}

.header--notification-dropdown-card:last-child {
  border-radius: 0 0 5px 5px;
}

.header--notification-dropdown-card:only-child {
  border-radius: 5px;
}

.header--notification-dropdown-card-bullet {
  width: 5px;
  height: 5px;
  background-color: #81c98f;
  border-radius: 50%;
  margin: 0 10px;
}

.header--notification-dropdown-card-text {
  flex-grow: 1;
  text-align: left;
}

.header--notification-dropdown-card-btn {
  margin-right: 5px;
  &:hover {
    cursor: pointer;
  }
}

.header--separator {
  display: none;
  @include mq($break-m) {
    width: 1px;
    height: 50px;
    background-color: #4d4c72;
    margin-right: 10px;
    display: block;
  }
}

.header--profile {
  @include flexy($dir: row);
  align-items: center;
  margin-right: 10px;
  @include mq($break-m) {
    margin-right: 20px;
  }
}

.header--profile-name {
  display: none;
  @include mq($break-m) {
    display: block;
  }
}

.header--profile-photo {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  @include mq($break-m) {
    margin-right: 10px;
  }
}

// Navigation Styles

.nav {
  display: flex;
  flex-direction: column;
  background-color: #4d4c72;
  color: white;
  transition: .5s;
}

.nav--close-button {
  align-self: flex-end;
  padding-top: 5px;
  padding-right: 5px;
  cursor: default;
  @include mq($break-m) {
    visibility: hidden;
  }
}

.nav--ul {
  list-style: none;
  margin-top: 15px;
  padding-left: 0;
  text-align: center;
}

.nav--ul-btns {
  padding: 5px;
  cursor: pointer;
}

.nav--ul-btns:nth-child(1n+2) {
  margin-top: 5px;
}

.nav--ul-btns-links:visited > svg > path {
  fill: #dbdbdb;
  stroke: transparent;
}

.nav--ul-btns-links:active > svg > path {
  fill: white;
  stroke: white;
}

.nav--ul-btns-svgs {
  width: 24px;
  height: 24px;
  &-path {
    fill: #fbfbfb;
  }
}

// Footer Styles

.footer {
  transition: .5s;
}
