/* ============================================= */
/*              Container Imports                */
/* ============================================= */

// Base Styles
* {
//  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

// Containers

.body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 70px 1fr 50px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / -1;
//  grid-row: 1 / 2;
  position: sticky;
  top: 0;
  background-color: white;
}

.main {
  grid-column: 1 / -1;
  grid-row: 2 / -2;
}

.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  overflow-x: hidden;
}

.footer {
  grid-column: 1 / -1;
  grid-row: -1 / -2;
  border: solid 2px blue;
}

// Header Styles

.header {
  background: #7476bf;
}

.header--menu-button {
  position: absolute;
  top: 23px;
  left: 17px;
}


// Navigation Styles

.nav {
  background-color: #4d4c72;
  transition: .5s;
}
